$bgcolor: #EAE9E5;

$m-top: 25%;
$bground: #fff;
$padding: 30px;
$b-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
$b-radius: 5px;

$background: #fb641b;
$box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
$border: none;
$color: #fff;
$width: 100% 

$font-size: 12px;

border-radius: 25px


$background: #fff;
$padding-left: 25px;
$padding-right: 25px;
$padding-bottom: 5px;
$box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
$border-radius: 5px;



body {
    background: bgcolor;
}

.login_form {
    margin-top: m-top;
    background: bground;
    padding: padding;
    box-shadow: b-shadow;
    border-radius: b-radius;
}

.form_btn {
    background: background;
    box-shadow: box-shadow;
    border: border;
    color: color;
    width: width
}

.label_txt {
    font-size: font-size;
}

.form-control {
    border-radius: border-radius
}

.signup_form {
    background: background;
    padding-left: padding-left;
    padding-right: padding-right;
    padding-bottom: padding-bottom;
    box-shadow: box-shadow;
    border-radius: border-radius;
}

